<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Repetition</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="itemlist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ItemList
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="binding-and-state">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Binding & State
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="forms-and-validation">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Forms & Validation
            </NavLink>
        </div>
    </nav>
</div>

