@page "/ItemList"
@rendermode InteractiveServer

<h1>En Simpel komponent</h1>
<h3>ItemList</h3>

<input @bind="newItem" placeholder="Add new item" />
<button @onclick="AddNewItem">Add</button>

<ul>
	@foreach (var item in items)
	{
		<li>@item</li>
	}
</ul>

<ItemManagementParent /> @* parent + child component *@

@code {

	private List<string> items = new List<string> { "Item 1", "Item 2", "Item 3" };
	private string newItem = string.Empty;

	private void AddNewItem()
	{
		if (!string.IsNullOrEmpty(newItem))
		{
			items.Add(newItem);
			newItem = string.Empty;		
		}	
	}

}

